h1
{
    margin-top: 10%;
    color: white;
    text-align: center;
    font-size: 80px;
}

input
{
    color: black;
}

.inpute {
    display: flex;
    align-items: center;
}

input {
    width: 20%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 10px 10px 10px 10px;
}

form
{
    display: flex;
    justify-content: center;
    align-items: center;
}

.zone-article
{
    display: flex;
    justify-content: center;
}

.article
{
    background-color: rgb(100, 107, 107);
    text-align: center;
    margin-left: 10vh;
    margin-right: 10vh;
    border-radius: 10px;
    border-color: rgb(165, 165, 165);
}

.more
{
    background-color: rgb(100, 107, 107);
    text-align: center;
    border-radius: 10px;
    padding: 30px;
    margin-left: 50vh;
}
